{% extends 'base.html' %}

    {% block body %}



     <div class="container">
         <div class="col-md-8">
         <h2>Home</h2>

         <form method="post">
        {% csrf_token %}
        {{ form.post}}
             <br>
         <button type="submit">Submit</button>
        {%  for post  in posts  %}
             {%if post.user in friends%}
             <h1>{{post.post  }}</h1>
             <p>Posted by :{{post.user.get_full_name}} on {{post.created}}</p>
             {%endif%}
         {% endfor %}
        </form>
         </div>
         <div class="col-md-4">


             <h2>other People</h2>
            {% for  user in users%}
             <h4>{{user.get_full_name}}</h4>
             {% if not user in friends %}
             <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}">
             <button type="button"  class="btn btn-success">add</button>
             </a>
             {% endif %}
             {% endfor%}




            <h2>Friends</h2>
             {% for  friend in friends%}
             <a href="{% url 'accounts:view_profile_with_pk' pk=friend.pk %}"> <h4>{{friend.get_full_name}}</h4></a>
             <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}">
             <button type="button"  class="btn btn-default">Remove</button>
             </a>
             {% endfor%}


         </div>
     </div>
    {% endblock %}
