{% extends 'base.html' %}


{% block body %}
<div class="container">
    <h1>Profile</h1>
    <p>UserName :  {{user}}</p>
    <p>FirstName :  {{user.first_name}}</p>
    <p>LastName :  {{user.last_name}}</p>
    <p>Email :  {{user.email}}</p>
    <p>City :  {{user.userprofile.city}}</p>
    <p>phone :  {{user.userprofile.phone_number}}</p>
    <p>website :  {{user.userprofile.website}}</p>
    {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" , width="240">
    {%endif%}

</div>


{% endblock %}
